[Unit]
Description=Packet Triggered Wol Server for Plex

[Service]
WorkingDirectory=/home/pi
ExecStart=/home/pi/PacketTriggeredWolServerPlex.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target 
